@model IEnumerable<Order>

<div class="form-group">
  <a asp-controller="Cart" asp-action="Index" class="btn btn-outline-danger">
    Back to Index
  </a>
</div>

<div>
    @foreach (var order in Model)
    {
        @foreach (var book in order.CartList)
        {
            <div class="border rounded">
                <div class="row bg-white">
                    <div class="col-md-3 pl-0">
                        <img class="img-fluid" src="@ViewBag.ImageUrl">
                    </div>
                    <div class="col-md-6">
                        <h5 class="pt-2" style="font-weight= bold;">@book.Title</h5>
                        <h5 class="pt-2" style="font-weight= bold;">@book.Quantity</h5>
                        <h5 class="pt-2" style="font-weight= bold;">$ @book.Price</h5>
                    </div>
         
                @{
                    var SubTotal = @book.Quantity * @book.Price;
                    @order.Total += SubTotal;
                        <div class="pt-2">@SubTotal</div>
                }
                </div>
            </div>
        }
        <div>Total: @order.Total $</div>
    }
</div>    
    

           