@using FPTBook.Utils
@{
    ViewData["Title"] = "Home Page";
}

@using FPTBook.ViewModels
@model BookNotificationViewModel

<style>
    .container {
        position: relative;
    }

    .hero-image {
        filter: blur(2px);
        width: 100%;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-item {
        margin: 20px;
    }

    img {
        width: 318px;
        height: 490px;
    }

    .book-container {
        position: relative;
        width: 318px;
    }

    .overlay {
        background-color: black;
        opacity: 0.8;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease;
    }

    .book-container:hover .overlay {
        bottom: 0;
        height: 100%;
    }

    .overlay-price {
        white-space: nowrap;
        color: white;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }

    .overlay-item {
        opacity: 1;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dropdown-menu {
        white-space: nowrap;
    }

</style>

@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4">Are you new here ?</h1>
                    <p class="lead">Be one of our users</p>
                </div>
                <hr class="my-4">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg" role="button">Register now</a>
            </div>

            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4">Been here before ?</h1>
                    <p class="lead">Sign in to your account</p>
                </div>
                <hr class="my-4">
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg" role="button">Login now</a>
            </div>
        </div>
    </div>

    <div class="flex-container">
        @foreach (var item in Model.BookDisplay)
        {
            <div class="flex-item book-container">
                <div class="card shadow">
                    <p class="lead">@item.Title</p>
                    <p class="blockquote-footer">@item.Author</p>

                    <img class="card-img-top" src="@item.ImageUrl" />
                    <div class="overlay">
                        <div class="overlay-item">
                            <span class="overlay-price">$ @item.Price</span>

                            @if (@item.BookStatus == FPTBook.Enums.BookStatus.inStock)
                            {
                                <span class="badge badge-success">In Stock</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Out Of Stock</span>
                            }


                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}
else if (User.IsInRole(Role.ADMIN))
{
    <h2 class="display-2 text-center">Welcome Admin</h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4" style="text-align: center;">User Accounts Management</h1>
                    <p class="lead">See all customer and store owner account - Reset passwords</p>
                </div>
                <hr class="my-4">
                <a asp-controller="Admin" asp-action="Index" class="btn btn-primary btn-lg" role="button">Manage</a>
            </div>

            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4" style="text-align: center;">Genre Request Approval</h1>
                    <p class="lead">Approve or Reject genre request sent by Store Owner</p>
                </div>
                <hr class="my-4">
                <a asp-controller="Admin" asp-action="GenreApproval" class="btn btn-primary btn-lg" role="button">See Request</a>
            </div>
        </div>
    </div>
}
else if (User.IsInRole(Role.OWNER)){
    <h2 class="display-2 text-center">Welcome Store Owner</h2>

    <div class="d-flex justify-content-center">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Notifications
            </button>
            <div class="dropdown-menu">
                @foreach (var message in Model.Notifications)
                {
                    <ul class="px-2 list-inline">
                        <li class="list-inline-item mx-1 my-0">@message.Message</li>
                        <li class="list-inline-item mx-1 my-0">
                            <a asp-controller="StoreOwner" asp-action="ReadMessage" asp-route-id="@message.NotiId" class="btn close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </li>
                        
                    </ul>
                    <hr class="m-0 pt-2 mt-2" />
                }
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4" style="text-align: center;">Books Management</h1>
                    <p class="lead">Insert, Update, See details or Delete books</p>
                </div>
                <hr class="my-4">
                <a asp-controller="StoreOwner" asp-action="Index" class="btn btn-primary btn-lg" role="button">Manage</a>
            </div>

            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4" style="text-align: center;">Genre Request</h1>
                    <p class="lead">See all genres and send genre request to Admin</p>
                </div>
                <hr class="my-4">
                <a asp-controller="StoreOwner" asp-action="GenreList" class="btn btn-primary btn-lg" role="button">Manage</a>
            </div>

            <div class="d-flex flex-column col">
                <div class="container">
                    <h1 class="display-4" style="text-align: center;">Orders Management</h1>
                    <p class="lead">See all past orders made by customers</p>
                </div>
                <hr class="my-4">
                <a asp-controller="StoreOwner" asp-action="OrderList" class="btn btn-primary btn-lg" role="button">View</a>
            </div>
        </div>
    </div>
} else if (User.IsInRole(Role.CUSTOMER)){
    <div class="container">
        <img class="hero-image" src="https://images.pexels.com/photos/214659/pexels-photo-214659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <div class="hero-text">
            <h1 class="display-2">FPTBook</h1>
            <p class="display-4">All you can find</p>
            <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Shop now</a>
        </div>
    </div>
}
