@model IEnumerable<Cart>

<div class="container-fluid">
    <div class="row px-5">
        <div class="col-md-7">
            <div class="shopping-cart">
                <h6 style="font-weight: bold;">My Shopping Cart</h6>
                <hr>
                    @foreach(var item in Model){
                    <form class="cart-items">
                        <div class="border rounded">
                            <div class="row bg-white">
                                <div class="col-md-3 pl-0">
                                    <img class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <h5 class="pt-2" style="font-weight: bold;">@item.Book.Title</h5>
                                    <h5 class="pt-2 blockquote-footer">@item.Book.Author</h5>
                                    <h5 class="pt-2">@item.Book.Price</h5>
                                    
                                    <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">Remove</a>
                                </div>
                                <div class="col-md-3 py-5">
                                    <div>
                                       <p>@item.Quantity</p>
                                    </div>
                                    @{
                                        var SubTotal = @item.Quantity * @item.Book.Price;
                                        <h5 class="pt-2">@SubTotal</h5>
                                    }
                               <a asp-controller="Cart" asp-action="QuantityUp" asp-route-id=@item.Id class="btn btn-info">+</a>
                               <a asp-controller="Cart" asp-action="QuantityDown" asp-route-id=@item.Id class="btn btn-info">-</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    }
            </div>
        </div>
        <div class="col-md-4 offset-md-1 border rounded mt-5 bg-white h-25">
            <div class="pt-4">
                <h6 style="font-weight: bold;">PRICE DETAILS</h6>
                <hr>
                <div class="row price-details">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            Total
                        </div>
                    </div>
                    <a class="btn btn-warning">CHECK OUT</a>
                </div>
            </div>
        </div>
    </div>
</div>