@model IEnumerable<Book>
<h1>Index of Book</h1>


<div class="form-group">
    <a asp-controller="StoreOwner"
       asp-action="Insert" class="btn btn-primary">Create new Book</a>
</div>

<div class="form-group">
    <a asp-controller="StoreOwner"
       asp-action="GenreRequest" class="btn btn-primary">Request new Book Genre</a>
</div>

<div class="form-group">
    <a asp-controller="StoreOwner"
       asp-action="Records" class="btn btn-primary">Purchased Records</a>
</div>

<div class="form-group">
    <form>
        <input type="text" name="genre" placeholder="Search by Genre" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
</div>


<table class="table">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Status</th>
    <th scope="col">Genre</th>
    <th scope="col">Actions</th>
    <th scope="col"></th>
    </thead>
    <tbody>
      @foreach (var item in Model){
     <tr>
            <th scope="row">@item.BookId</th>
                <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.BookStatus.ToString()</td>
            <td>@item.Genre.Description</td>
            <td>
                    <a asp-controller="StoreOwner"
                   asp-action="Details" class="btn btn-primary" asp-route-id=@item.BookId>Details</a>
                     <a asp-controller="StoreOwner"
                   asp-action="Update" class="btn btn-outline-primary" asp-route-id=@item.BookId>Update</a>
                    <a asp-controller="StoreOwner"
                   asp-action="Delete" class="btn btn-danger" asp-route-id=@item.BookId>Delete</a>
            </td>
     </tr>
     
       
    }
    </tbody>
</table>